﻿@using GotTable.Common.Enumerations;
@model GotTable.DAO.RestaurantTables.BranchTableDAO
@{
    var restaurantId = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    var restaurantName = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantName.ToString()).SingleOrDefault()?.Value;
    ViewBag.ActiveMenu = "RestaurantDetail";
    ViewBag.ActiveSubMenu = "TableEdit";
    ViewBag.RestaurantId = restaurantId;
    ViewBag.RestaurantName = restaurantName;
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
}
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-barcode"></i>&nbsp;<a href="#">Table List</a></li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2> Table's List </h2></span>
            <span style="float:right">&nbsp;</span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    @using (Html.BeginForm(null, null, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <table class="table table-bordered table-striped">
                            <tbody>
                                @if (!Model.Status)
                                {
                                    <tr class="warning">
                                        <td colspan="2" style="color:maroon;font-size:13px;">
                                            @Model.ErrorMessage
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td style="width:30%;">
                                        Name
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.HiddenFor(x => x.Id)
                                            @Html.HiddenFor(x => x.BranchId)
                                            @Html.HiddenFor(x => x.SelectedTable)
                                            @Html.DropDownListFor(x => x.SelectedTable, new SelectList(ViewBag.TableList, "Name", "Name"), "Select Table", new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Value
                                        <br />
                                        <small style="color:maroon;">
                                            Required -
                                            <br />
                                            Put value 0, if your restaurant does not have this table.
                                        </small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="col-xs-6">
                                            <input type="submit" value="Save" class="btn btn-success" />
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>