﻿@using GotTable.Common.Enumerations;
@model GotTable.DAO.Bookings.DineIn.DineInBookingBySalesAdminDAO
@{
    ViewBag.ActiveMenu = "DineInBooking";
    ViewBag.ActiveSubMenu = "";
    var restaurantId = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    var restaurantName = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    ViewBag.RestaurantId = restaurantId;
    ViewBag.RestaurantName = restaurantName;
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        var today = new Date();
        $('.datetimepicker').datetimepicker({
            autoclose: true,
            format: 'mm-dd-yyyy HH:ii P',
            pickerPosition: "bottom-right",
            showMeridian: true,
            startDate: today,
            minuteStep: 10
        });
    });
</script>

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a></li>
            <li><i class="icon-setting"></i>Dine In Booking</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left">
                <h2> Create a new dine in booking</h2>
            </span>
        </div>
        <div class="row col-xs-12">
            @using (@Html.BeginForm(null, null, FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <table class="table table-bordered table-striped">
                    <tbody>
                        @if (Model.Status && !String.IsNullOrEmpty(Model.ErrorMessage))
                        {
                            <tr class="warning">
                                <td colspan="3" style="color:maroon;font-size-13px;">
                                    @Model.ErrorMessage
                                </td>
                            </tr>
                        }
                        else
                        {
                            if (!String.IsNullOrEmpty(Model.ConfirmationMessage))
                            {
                                <tr class="success">
                                    <td colspan="3" style="color:green;font-size-18px;">
                                        @Model.ConfirmationMessage
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="3">
                                        <a href='@Url.Action("Index", "DineInBooking", new { restaurantId = Model.RestaurantId })'>New Booking</a>
                                    </td>
                                </tr>
                            }
                        }
                        @if (String.IsNullOrEmpty(Model.ConfirmationMessage))
                        {
                            <tr>
                                <td style="width: 100%;" colspan="3">
                                    <h5>
                                        Restaurant name
                                    </h5>
                                    <div class="editor-field">
                                        @Html.HiddenFor(x => x.RestaurantId)
                                        @Html.HiddenFor(x => x.UserId)
                                        @Html.TextBoxFor(x => x.RestaurantName, new { @disabled = "disabled", @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>
                                        Booking date and time <em style="color:red;">*</em>
                                    </h5>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.BookingDateTime, new { @class = "form-control datetimepicker", @readonly = "readonly" })
                                    </div>
                                </td>
                                <td>
                                    <h5>
                                        Table <em style="color:red;">*</em>
                                    </h5>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(x => x.SelectedTableId, new SelectList(ViewBag.TableList, "Id", "SelectedTable"), "Please select", new { @class = "form-control" })
                                    </div>
                                </td>
                                <td>
                                    <h5>
                                        Offer
                                    </h5>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(x => x.SelectedOfferId, new SelectList(ViewBag.OfferList, "Id", "Name"), "Please select offer", new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>
                                        Email address <em style="color:red;">*</em>
                                    </h5>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control" })
                                    </div>
                                </td>
                                <td>
                                    <h5>
                                        First name <em style="color:red;">*</em>
                                    </h5>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                                    </div>
                                </td>
                                <td>
                                    <h5>
                                        Last name <em style="color:red;">*</em>
                                    </h5>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>
                                        Phone number <em style="color:red;">*</em>
                                    </h5>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
                                    </div>
                                </td>
                                <td>
                                    <h5>
                                        Promo code
                                    </h5>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(x => x.PromoCode, new { @class = "form-control" })
                                    </div>
                                </td>
                                <td>
                                    <h5>
                                        Comment
                                    </h5>
                                    <div class="editor-field">
                                        @Html.TextAreaFor(x => x.Comment, new { @class = "form-control", @style = "resize:none;" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="col-xs-6">
                                        <input type="submit" value="Create new booking" class="btn btn-success" />
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

