﻿@model GotTable.DAO.RestaurantBookings.BillUploads.DineInBookingBillUploadDAO
@using GotTable.Common.Enumerations;
@{
    var restaurantId = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    var restaurantName = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    ViewBag.ActiveMenu = "BillUploadStatus";
    ViewBag.ActiveSubMenu = "";
    ViewBag.RestaurantId = restaurantId;
    ViewBag.RestaurantName = restaurantName;
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
}

<script type="text/javascript">
    function confirmBill(doubleTheDealStatus) {
        $('#Authorized').val(doubleTheDealStatus);
    }
</script>

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-settings"></i>Bill Uploaded List</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2>Bill Information</h2></span>
            <span style="float:right">&nbsp; </span>
        </div>

        <div class="row">
            @if (!Model.Status)
            {
                <div class="col-xs-12 text-danger cboxPhoto">
                    @Model.ErrorMessage
                </div>
            }
            <div class="col-xs-12">
                <table class="table table-condensed">
                    <tbody>
                        @using (@Html.BeginForm(null, null, FormMethod.Post))
                        {
                            @Html.HiddenFor(model => Model.BookingId)
                            @Html.HiddenFor(model => Model.UserId)
                            @Html.HiddenFor(model => Model.Amount)
                            @Html.HiddenFor(model => Model.Authorized)
                            @Html.HiddenFor(model => Model.AuthorizedRewardPoint)
                            @Html.HiddenFor(model => model.Redeem)
                            @Html.HiddenFor(model => model.EmailAddress)
                            @Html.HiddenFor(model => model.ImagePath)
                            @Html.HiddenFor(model => model.PhoneNumber)
                            @Html.HiddenFor(model => model.RestaurantAddress)
                            @Html.HiddenFor(model => model.RestaurantName)
                            @Html.HiddenFor(model => model.UserName)
                            @Html.HiddenFor(model => model.UploadedDate)
                            @Html.HiddenFor(model => model.AdminId)
                            <tr>
                                <td style="border:none;">
                                    <table class="table table-bordered table-striped">
                                        <tr>
                                            <td style="width:25%;color:gray;">
                                                <h5 style="color:black;">Detail</h5>
                                            </td>
                                            <td style="text-align:center;vertical-align:central;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:25%;color:gray;">
                                                Bill uploaded date
                                            </td>
                                            <td>
                                                @Model.UploadedDate.Value.ToString("dd-MM-yyyy HH:mm")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:25%;color:gray;">
                                                Name
                                            </td>
                                            <td>
                                                @Model.UserName
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:25%;color:gray;">
                                                Email address
                                            </td>
                                            <td>
                                                @Model.EmailAddress
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:25%;color:gray;">
                                                Phone number
                                            </td>
                                            <td>
                                                @Model.PhoneNumber
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:25%;color:gray;">
                                                Restaurant name and address
                                            </td>
                                            <td>
                                                @Model.RestaurantName
                                                <br />
                                                <br />
                                                @Model.RestaurantAddress
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:25%;color:gray;">
                                                Booking date
                                            </td>
                                            <td>
                                                @Model.BookingDate
                                            </td>
                                        </tr>
                                        @if (!string.IsNullOrEmpty(Model.OfferName))
                                        {
                                            <tr>
                                                <td style="width:25%;color:gray;">
                                                    Offer name
                                                </td>
                                                <td>
                                                    @Model.OfferName
                                                </td>
                                            </tr>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.OfferType))
                                        {
                                            <tr>
                                                <td style="width:25%;color:gray;">
                                                    Offer type
                                                </td>
                                                <td>
                                                    @Model.OfferType
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td style="width:25%;color:gray;">
                                                Amount
                                            </td>
                                            <td>
                                                @Model.Amount
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <span style="color:gray;">Reward point(s)</span>
                                                <br />
                                                <br />
                                                @Html.TextBoxFor(x => x.AuthorizedRewardPoint, new { @class = "form-control" })
                                            </td>
                                        </tr>
                                        @if (Model.Authorized == null)
                                        {
                                            <tr>
                                                <td colspan="2">
                                                    <span style="color:gray;">Comment</span>
                                                    <br />
                                                    <br />
                                                    @Html.TextAreaFor(model => model.AuthorizedComment, new { @class = "form-control" })
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td style="width:25%;color:gray;">
                                                    Comments
                                                </td>
                                                <td>
                                                    @Model.AuthorizedComment
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:25%;color:gray;">
                                                    Authorized Person
                                                </td>
                                                <td>
                                                    @Model.AdminName
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </td>
                                <td style="width:35%;border:none;">
                                    <table class="table table-bordered table-striped">
                                        <tr>
                                            <td colspan="2">
                                                <h5 style="color:black;">Image</h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src='@Model.ImagePath' style="height:auto;width:auto;max-height:500px;max-width:300px;" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            if (Model.Authorized == null)
                            {
                                <tr>
                                    <td colspan="2" style="border:none;">
                                        <div class="col-md-6">
                                            @if (!string.IsNullOrEmpty(Model.OfferName))
                                            {
                                                <span class="text-success">
                                                    Click "Confirm" to accept the bill, Reward points will be added to
                                                    user account and "Double the deal" will activate for next 30 days from date of booking.
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="text-success">
                                                    Click "Confirm" to accept the bill, Reward points will be added to
                                                    user account.
                                                </span>
                                            }
                                            <br />
                                            <br />
                                            <input type="submit" class="btn btn-success" value="Confirm" onclick="confirmBill(true);" />
                                        </div>
                                        <div class="col-md-6" style="text-align:right;">
                                            <span class="text-danger text-right">
                                                Click "Reject" to reject the bill, Comment section is mandatory in this case and same information will be provided to user.
                                            </span>
                                            <br />
                                            <br />
                                            <input type="submit" class="btn btn-success" onclick="confirmBill(false);" style="background-color:maroon !important" value="Reject" />
                                        </div>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td colspan="2" style="border:none;">
                                        <div class="col-md-12" style="text-align:center;font-weight:bold;">
                                            @if (Model.Authorized == true)
                                            {
                                                <span class="text-success">
                                                    This bill has been accpeted and @Model.AuthorizedRewardPoint has been added to user account.
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="text-danger">
                                                    This bill has been rejected.
                                                </span>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>