﻿@using GotTable.Common.Enumerations;
@using System.Collections.Generic;
@model IEnumerable<GotTable.DAO.RestaurantOffers.BranchOfferDAO>
@{
    var restaurantId = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    var restaurantName = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantName.ToString()).SingleOrDefault()?.Value;
    ViewBag.ActiveMenu = "OffersList";
    ViewBag.RestaurantId = restaurantId;
    ViewBag.RestaurantName = restaurantName;
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
    bool IsExpiredList = ViewBag.ActiveSubMenu == "History";
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-star"></i>&nbsp;Offer's List</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span class="pull-left">
                <h2> Offer's List </h2>
            </span>
            @if (!IsExpiredList)
            {
                <span class="pull-right">
                    <div class="addbtn">
                        @Html.ActionLink("New", "Index", "OfferEdit", new { offerid = 0 }, null)
                    </div>
                </span>
            }
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Offer Type
                                </th>
                                <th>
                                    Start Date
                                </th>
                                <th>
                                    End Date
                                </th>
                                @if (ViewBag.ActiveSubMenu == "Current")
                                {
                                    <th>
                                        Active
                                    </th>
                                }
                                <th>
                                    Available for
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OfferType)
                                    </td>
                                    <td>
                                        @item.StartDate.ToString("MMM dd yyyy, hh:mm tt")
                                    </td>
                                    <td>
                                        @item.EndDate.ToString("MMM dd yyyy, hh:mm tt")
                                    </td>
                                    @if (ViewBag.ActiveSubMenu == "Current")
                                    {
                                        <td>
                                            <span class='@(item.IsActive ? "cusine-yes" : "cusine-no")'>@(item.IsActive ? "Yes" : "No")</span>
                                        </td>
                                    }
                                    <td>
                                        @{
                                            var collectedItem = new List<string>();
                                            if (item.IsDineIn)
                                            {
                                                collectedItem.Add("DineIn");
                                            }
                                            if (item.IsDelivery)
                                            {
                                                collectedItem.Add("Delivery");
                                            }
                                            if (item.IsTakeAway)
                                            {
                                                collectedItem.Add("Takeaway");
                                            }
                                        }
                                        <span>
                                            @string.Join(", ", collectedItem)
                                        </span>
                                    </td>
                                    <td>
                                        @if (ViewBag.ActiveSubMenu == "Current")
                                        {
                                            @Html.ActionLink("Edit", "Index", "OfferEdit", new { offerId = item.Id }, null)
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Re Open", "Index", "OfferEdit", new { offerId = item.Id }, null)
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
