﻿@model GotTable.Web.Models.Shared.MenuItemModel

@{ 
	var activeMenu = ViewBag.ActiveMenu ?? "";
}

<li class="@(activeMenu == Model.OptionKey ? "active" : "")">
	<a class='@(Model.OptionEnabled ? "" : "disabled")' href="@Model.Url">
		<i class="menu-icon fa fa-caret-right"></i>
		@Model.OptionName
	</a>
	<b class="arrow"></b>
</li>