﻿@using GotTable.Common.Enumerations;
@{ 
    var restaurantId = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    var dineInActive = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.DineInActive.ToString()).SingleOrDefault()?.Value;
    var deliveryActive = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.DeliveryActive.ToString()).SingleOrDefault()?.Value;
    var takeawayActive = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.TakeawayActive.ToString()).SingleOrDefault()?.Value;
}
<ul class="nav nav-list">
    <li class='@(ViewBag.ActiveMenu == "Bookings" ? "active menu-text" : "menu-text")'>
        <a href="#" class="dropdown-toggle">
            <i class="icon-desktop"></i>
            <span class="menu-text">Bookings</span>
            <b class="arrow icon-angle-down"></b>
        </a>
        @{
            var dateTime = DateTime.Now;
        }
        <ul class="submenu" style='@(ViewBag.ActiveMenu == "Bookings" ? "display: block" : "")'>
            <li class='@(ViewBag.ActiveSubMenu == "Current" ? "active menu-text" : "menu-text")'>
                <a href='@Url.Action("Index", "Transaction", new { @restaurantId = restaurantId, @bookingDate = dateTime,
                                        @bookingType = "Current" })'>
                    <i class="icon-double-angle-right"></i>
                    <span style='@(ViewBag.ActiveSubMenu == "Current" ? "color:maroon" : "")'>
                        @dateTime.ToString("dd-MMM-yyyy")
                    </span>
                </a>
            </li>
            <li class='@(ViewBag.ActiveSubMenu == "Future" ? "active menu-text" : "menu-text")'>
                <a href='@Url.Action("Index", "Transaction", new { @restaurantId = restaurantId, @dtStartDate = dateTime.AddDays(1), @dtEndDate = dateTime.AddDays(30), @bookingType = "Future" })'>
                    <i class="icon-double-angle-right"></i>
                    <span style='@(ViewBag.ActiveSubMenu == "Future" ? "color:maroon" : "")'>
                        Next 30 Days
                    </span>
                </a>
            </li>
            <li class='@(ViewBag.ActiveSubMenu == "History" ? "active menu-text" : " menu-text")'>
                <a href='@Url.Action("Index", "Transaction", new { @restaurantId = restaurantId, @dtStartDate = dateTime.AddDays(-30), @dtEndDate = dateTime.AddDays(-1), @bookingType = "History" })'>
                    <i class="icon-double-angle-right"></i>
                    <span style='@(ViewBag.ActiveSubMenu == "History" ? "color:maroon" : "")'>
                        Past 30 Days
                    </span>
                </a>
            </li>
        </ul>
    </li>
    <li class='@(ViewBag.ActiveMenu == "OffersList" && ViewBag.ActiveSubMenu == "Current" ? "active" : "")'>
        <a href="~/OfferList?restaurantId=@restaurantId&displayExpiredOffers=false">
            <i class="icon-star"></i><span class="menu-text">Offers </span>
        </a>
    </li>
    <li class='@(ViewBag.ActiveMenu == "OffersList" && ViewBag.ActiveSubMenu == "History" ? "active" : "")'>
        <a href="~/OfferList?restaurantId=@restaurantId&displayExpiredOffers=true">
            <i class="icon-star-empty"></i><span class="menu-text">Offer's history </span>
        </a>
    </li>
    <li class='@(ViewBag.ActiveMenu == "Reviews" ? "active" : "")'>
        <a href="~/RatingList?restaurantId=@restaurantId">
            <i class="icon-comments"></i><span class="menu-text">Reviews </span>
        </a>
    </li>
    <li class='@(ViewBag.ActiveMenu == "RestaurantDetail" ? "active" : "")'>
        <a href="#" class="dropdown-toggle">
            <i class="icon-asterisk"></i>
            <span class="menu-text">Manage Detail</span>
            <b class="arrow icon-angle-down"></b>
        </a>
        <ul class="submenu" style='@(ViewBag.ActiveMenu == "RestaurantDetail" ? "display: block;" : "display: none;")'>
            <li class='@(ViewBag.ActiveSubMenu == "AmenityList" ? "active menu-text" : "menu-text")'>
                <a href="~/AmenityList?restaurantId=@restaurantId">
                    <i class="icon-home"></i><span class="menu-text">Amenities </span>
                </a>
            </li>
            <li class='@(ViewBag.ActiveSubMenu == "RestaurantEdit" || ViewBag.ActiveMenu == "RestaurantEdit" ? "active" : "")'>
                <a href="~/RestaurantEdit?restaurantId=@restaurantId">
                    <i class="icon-home"></i>
                    <span class="menu-text">Billing & Payment </span>
                </a>
            </li>
            <li class='@(ViewBag.ActiveSubMenu == "ContactList" || ViewBag.ActiveSubMenu == "ContactEdit" ? "active" : "")'>
                <a href="~/ContactList?restaurantId=@restaurantId">
                    <i class="icon-user"></i><span class="menu-text">Contacts</span>
                </a>
            </li>
            <li class='@(ViewBag.ActiveSubMenu == "CuisineList" || ViewBag.ActiveSubMenu == "CuisineEdit" ? "active" : "")'>
                <a href="~/CuisineList?restaurantId=@restaurantId">
                    <i class="icon-user"></i><span class="menu-text">Cuisines </span>
                </a>
            </li>
            <li class='@(ViewBag.ActiveSubMenu == "ImageList" ? "active menu-text" : "menu-text")'>
                <a href="~/ImageList?restaurantId=@restaurantId"><i class="icon-home"></i><span class="menu-text">Default Images </span></a>
            </li>
            <li class='@(ViewBag.ActiveSubMenu == "DocumentList" ? "active menu-text" : "menu-text")'>
                <a href="~/DocumentList?restaurantId=@restaurantId"><i class="icon-home"></i><span class="menu-text">Gallery Images </span></a>
            </li>
            @if (takeawayActive == "true" || deliveryActive == "true")
            {
                <li class='@(ViewBag.ActiveSubMenu == "MenuList" || ViewBag.ActiveSubMenu == "MenuEdit" ? "active" : "")'>
                    <a href="~/MenuList?restaurantId=@restaurantId">
                        <i class="icon-coffee"></i><span class="menu-text">Menus </span>
                    </a>
                </li>
            }
            <li class='@(ViewBag.ActiveSubMenu == "TimingList" || ViewBag.ActiveSubMenu == "TimingEdit" ? "active" : "")'>
                <a href="~/TimingList?restaurantId=@restaurantId">
                    <i class="icon-time"></i><span class="menu-text">Timings </span>
                </a>
            </li>
            @if (dineInActive == "true")
            {
                <li class='@(ViewBag.ActiveSubMenu == "TableList" || ViewBag.ActiveSubMenu == "TableEdit" ? "active" : "")'>
                    <a href="~/TableList?restaurantId=@restaurantId">
                        <i class="icon-barcode"></i><span class="menu-text">Tables </span>
                    </a>
                </li>
            }
        </ul>
    </li>
</ul>
