﻿@using GotTable.Common.Enumerations;
@{ 
    var restaurantId = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault().Value;
    var cityId = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.CityId.ToString()).SingleOrDefault().Value;
}

<ul class="nav nav-list">
    <li class='@(ViewBag.ActiveMenu == "RestaurantList" ? "active menu-text" : "menu-text")'>
        <a href="~/RestaurantList?userId=@restaurantId">
            <i class="icon-home"></i>
            <span class="menu-text">Restaurant list </span>
        </a>
    </li>
    <li class='@(ViewBag.ActiveMenu == "Pipelinedlist" ? "active menu-text" : "menu-text")'>
        <a href="~/PipelinedList?userId=@restaurantId">
            <i class="icon-barcode barcode-icon"></i>
            <span class="menu-text">Pipelined list </span>
        </a>
    </li>
    <li class='@(ViewBag.ActiveMenu == "PreferredRestaurant" ? "active menu-text" : "menu-text")'>
        <a href="~/PreferredRestaurants?cityId=@cityId">
            <i class="glyphicon-tag"></i>
            <span class="menu-text">Preferred restaurant list</span>
        </a>
    </li>
    <li class='@(ViewBag.ActiveMenu == "BillUploadStatus" ? "active menu-text" : "menu-text")'>
        <a href="~/BillUploadList?userId=@restaurantId&uploadStatus=InProcessing">
            <i class="icon-home"></i>
            <span class="menu-text">Bill uploaded list </span>
        </a>
    </li>
    <li class='@(ViewBag.ActiveMenu == "NotificationList" ? "active menu-text" : "menu-text")'>
        <a href="~/NotificationList?userId=@restaurantId">
            <i class="glyphicon-tag"></i>
            <span class="menu-text">Notification list</span>
        </a>
    </li>
    <li class='@(ViewBag.ActiveMenu == "Reports" ? "active" : "")'>
        <a href="#" class="dropdown-toggle">
            <i class="icon-asterisk"></i>
            <span class="menu-text">Reports</span>
            <b class="arrow icon-angle-down"></b>
        </a>
        <ul class="submenu" style='@(ViewBag.ActiveMenu == "Reports" ? "display:block;" : "display:none;")'>
            <li class='@(ViewBag.ActiveSubMenu == "DailyBookings" ? "active" : "")'>
                <a href="~/DailyBookingList?bookingDate=@DateTime.Now.ToString("MM-dd-yyyy")">
                    <i class="icon-glass"></i><span class="menu-text">Daily booking(s)</span>
                </a>
            </li>
            <li class='@(ViewBag.ActiveSubMenu == "CustomBookings" ? "active" : "")'>
                <a href="~/CustomBookingList?bookingStartDate=@DateTime.Now.AddDays(-15).ToString("dd-MM-yyyy")&bookingEndDate=@DateTime.Now.AddDays(15).ToString("dd-MM-yyyy")">
                    <i class="icon-glass"></i><span class="menu-text">Custom booking(s)</span>
                </a>
            </li>
            <li class='@(ViewBag.ActiveSubMenu == "ExpiredRestaurants" ? "active" : "")'>
                <a href="~/ExpiredRestaurantList">
                    <i class="icon-glass"></i><span class="menu-text">Expired restaurant</span>
                </a>
            </li>
            <li class='@(ViewBag.ActiveSubMenu == "MasterCuisines" ? "active" : "")'>
                <a href="~/MasterCuisineList">
                    <i class="icon-glass"></i><span class="menu-text">Cuisines list</span>
                </a>
            </li>
        </ul>
    </li>
    <li class='@(ViewBag.ActiveMenu == "RestaurantDetail" && string.IsNullOrEmpty(restaurantId) ? "active menu-text" : "menu-text")'>
        <a href="~/RestaurantEdit?restaurantId=0">
            <i class="icon-desktop"></i>
            <span class="menu-text">New restaurant</span>
        </a>
    </li>
    @if (ViewBag.ActiveMenu == "RestaurantDetail" && !string.IsNullOrEmpty(restaurantId))
    {
        <li class="active">
            <a href="#" class="dropdown-toggle">
                <i class="icon-asterisk"></i>
                <span class="menu-text">@ViewBag.RestaurantName</span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu" style="display: block">
                <li class='@(ViewBag.ActiveSubMenu == "RestaurantEdit" ? "active" : "")'>
                    <a href="~/RestaurantEdit?restaurantId=@restaurantId">
                        <i class="icon-glass"></i>
                        <span class="menu-text">Detail </span>
                    </a>
                </li>
                @if (restaurantId != null)
                {
                    <li class='@(ViewBag.ActiveSubMenu == "Setting" ? "active" : "")'>
                        <a href="~/RestaurantSetting?restaurantId=@restaurantId">
                            <i class="icon-home"></i>
                            <span class="menu-text">Settings</span>
                        </a>
                    </li>
                    <li class='@(ViewBag.ActiveSubMenu == "Configuration" ? "active" : "")'>
                        <a href="~/ConfigurationEdit?restaurantId=@restaurantId">
                            <i class="icon-home"></i>
                            <span class="menu-text">Configuration</span>
                        </a>
                    </li>
                    <li class='@(ViewBag.ActiveSubMenu == "InvoiceList" ? "active" : "")'>
                        <a href="~/InvoiceList?restaurantId=@restaurantId">
                            <i class="icon-home"></i>
                            <span class="menu-text">Invoice list</span>
                        </a>
                    </li>
                }
            </ul>
        </li>
    }
</ul>