﻿@using GotTable.Web.Models;
@using AdminType = GotTable.Common.Enumerations.Enumeration.AdminType; 
@using ClaimTypes = GotTable.Common.Enumerations.Enumeration.ClaimType;
@model dynamic
@{
    ViewBag.ActiveMenu = "RestaurantList";
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
    var userId = Context.User.Claims.Where(x => x.Type == ClaimTypes.UserId.ToString()).SingleOrDefault().Value;
    var role = Context.User.Claims.Where(x => x.Type == ClaimTypes.Role.ToString()).SingleOrDefault().Value;
    var enableRestaurantLogin = Context.User.Claims.Where(x => x.Type == ClaimTypes.EnableRestaurantLogin.ToString()).SingleOrDefault().Value;
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#buttonClick").click(function () {
            var expiredRestaurant = $('#expiredRestaurant').val();
            var searchExpression = $('#searchExpression').val();
            var restaurantCategory = $('#restaurantCategory').val();
            var inactiveRestaurant = $('#inactiveRestaurant').val();
            var url = '@Html.Raw(Url.Action("Index", "RestaurantList", new { userId = "__userId__", expiredRestaurant = "__expiredRestaurant__", searchExpression = "__searchExpression__", restaurantCategory = "__restaurantCategory__", inactiveRestaurant = "__inactiveRestaurant__" }))';
            window.location.href = url.replace("__userId__", userId).replace("__expiredRestaurant__", expiredRestaurant).replace("__searchExpression__", searchExpression).replace("__restaurantCategory__", restaurantCategory).replace("__inactiveRestaurant__", inactiveRestaurant).replace("#", "%23");
        });
    });
</script>


<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-settings"></i>&nbsp;Restaurant List</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2>Restaurant's List</h2></span>
            <span style="float:right">&nbsp; </span>
        </div>

        @if (role == AdminType.SalesAdmin.ToString())
        {
            <div class="row" style="height: 40px;">
                <div class="col-xs-9 dine-list">
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                Total
                                &nbsp;
                                <span class="bolder" style="color:maroon">@ViewBag.Total</span>
                            </th>
                            <th>
                                Casual Dining
                                &nbsp;
                                <span class="bolder" style="color:maroon">@ViewBag.CasualDining</span>
                            </th>
                            <th>
                                Pub
                                &nbsp;
                                <span class="bolder" style="color:maroon">@ViewBag.Pub</span>
                            </th>
                            <th>
                                Microbrewery
                                &nbsp;
                                <span class="bolder" style="color:maroon">@ViewBag.Microbrewery</span>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    Name & Address
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Start date
                                </th>
                                <th>
                                    End date
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Account Admin Assigned
                                </th>
                                <th>
                                    Available for
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var restaurant in Model)
                            {
                                <tr>
                                    <td>
                                        @restaurant.RestaurantName
                                        <br />
                                        @restaurant.AddressLine1
                                        <br />
                                        @restaurant.AddressLine2
                                        <br />
                                        @restaurant.City @restaurant.State @restaurant.Zip
                                    </td>
                                    <td>
                                        @restaurant.Category
                                    </td>
                                    <td>
                                        @restaurant.StartDate
                                    </td>
                                    <td>
                                        @restaurant.EndDate
                                        <br />
                                        <br />
                                        @if (restaurant.EndDate != "")
                                        {
                                            if (restaurant.RemainingDays < 8 && restaurant.RemainingDays > -1)
                                            {
                                                <small style="color:maroon;font-weight:bold;">
                                                    @restaurant.RemainingDays days left
                                                </small>
                                            }
                                            else if (restaurant.RemainingDays <= 0)
                                            {
                                                <small style="color:maroon;background-color:yellow;padding:2px 5px;border-radius:3px;">
                                                    Restaurant is inactive.
                                                </small>
                                            }
                                            else
                                            {
                                                <small style="color:green;">
                                                    @restaurant.RemainingDays days left
                                                </small>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @if (restaurant.RestaurantStatus)
                                        {
                                            <span class="cusin-yes">
                                                Active
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="cusin-no">
                                                Inactive
                                            </span>
                                        }
                                    </td>
                                    <td>
                                        @if (restaurant.AccountAdminPersonId == 0)
                                        {
                                            <span class="text-danger">Not assigned.</span>
                                        }
                                        else
                                        {
                                            @restaurant.AccountAdminName
                                            <br />
                                            @restaurant.AccountAdminEmail
                                        }
                                    </td>
                                    <td>
                                        @{
                                            var collectedItem = new List<string>();
                                            if (restaurant.DineIn)
                                            {
                                                collectedItem.Add("DineIn");
                                            }
                                            if (restaurant.Delivery)
                                            {
                                                collectedItem.Add("Delivery");
                                            }
                                            if (restaurant.TakeAway)
                                            {
                                                collectedItem.Add("TakeAway");
                                            }
                                        }
                                        <span>
                                            @string.Join(", ", collectedItem)
                                        </span>
                                    </td>
                                    <td>
                                        @Html.ActionLink("Detail", "Index", "RestaurantEdit", new { restaurantId = restaurant.RestaurantId }, null)
                                        <br />
                                        <br />
                                        @if (restaurant.RemainingDays > 0)
                                        {
                                            <a href='@Url.Action("Index", "DineInBooking", new { restaurantId = restaurant.RestaurantId })'>
                                                New DineIn
                                            </a>
                                        }

                                        @if (enableRestaurantLogin == "true")
                                        {
                                            <br />
                                            <br />
                                            @Html.ActionLink("Login as restaurant admin", "LoggedInSpecialUser", new { restaurantId = restaurant.RestaurantId })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-3" style="border-left: solid #26d21a 1px; height: 500px;">
                    <div class="col-md-12" style="margin-top:3px;">
                        <h3>Filters</h3>
                    </div>
                    <div class="col-md-12" style="margin-top:10px;">
                        <span class="text-danger bolder">Search name/address</span>
                        <br />
                        <input type="text" id="searchExpression" class="form-control" value='@ViewBag.SearchExpression' placeholder="Search for restaurant name/address" />
                    </div>
                    <div class="col-md-12" style="margin-top:10px;">
                        <span class="text-danger bolder">Restaurant category</span>
                        <br />
                        <select class="form-control" id="restaurantCategory">
                            <option value="">Select category</option>
                            <option selected="@(@ViewBag.RestaurantCategory == "Casual_Dining" ? "selected" : "")" value="Casual_Dining">Casual Dining</option>
                            <option selected="@(@ViewBag.RestaurantCategory == "Pub" ? "selected" : "")" value="Pub">Pub</option>
                            <option selected="@(@ViewBag.RestaurantCategory == "Microbrewery" ? "selected" : "")" value="Microbrewery">Microbrewery</option>
                        </select>
                    </div>
                    <div class="col-md-12" style="margin-top:10px;">
                        <span class="text-danger bolder">Expired restaurant</span>
                        <br />
                        <select class="form-control" id="expiredRestaurant">
                            <option value="">All</option>
                            <option selected="@(@ViewBag.ExpiredRestaurant == true ? "selected" : "")" value="true">Yes</option>
                        </select>
                    </div>
                    <div class="col-md-12" style="margin-top:10px;">
                        <span class="text-danger bolder">Inactive restaurant</span>
                        <br />
                        <select class="form-control" id="inactiveRestaurant">
                            <option value="">All</option>
                            <option selected="@(@ViewBag.InactiveRestaurant == true ? "selected" : "")" value="true">Yes</option>
                        </select>
                    </div>
                    <div class="col-md-12" style="margin-top:30px;">
                        <input id="buttonClick" type="button" value="Search" class=" btn btn-success" />
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row col-xs-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:70%;">
                                Name
                            </th>
                            <th style="width:20%;">
                                Sales admin
                            </th>
                            <th style="width:10%;">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var restaurant in Model)
                        {
                            <tr>
                                <td>
                                    @restaurant.RestaurantName
                                    <br />
                                    <br />
                                    @restaurant.AddressLine1 @restaurant.AddressLine2 
                                    <br />
                                    @restaurant.City @restaurant.State @restaurant.Zip
                                </td>
                                <td>
                                    @restaurant.SalesAdminName
                                    <br />
                                    <br />
                                    @restaurant.SalesAdminEmailAddress
                                </td>
                                <td align="center" valign="middle">
                                    @if (restaurant.Open4AccountAdmin)
                                    {
                                        @Html.ActionLink("Detail", "Index", "RestaurantEdit", new { restaurantId = restaurant.RestaurantId }, null)
                                    }
                                    else
                                    {
                                        <a href="javascript:alert('You are not authorized to access, Please contact sales admin.');">
                                            Detail
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
