﻿@using GotTable.Common.Enumerations;

@model GotTable.DAO.RestaurantOffers.BranchOfferDAO
@{
    ViewBag.ActiveMenu = "OffersList";
    var restaurantId = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    var restaurantName = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantName.ToString()).SingleOrDefault()?.Value;
    var dineInActive = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.DineInActive.ToString()).SingleOrDefault()?.Value;
    var deliveryActive = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.DeliveryActive.ToString()).SingleOrDefault()?.Value;
    var takeawayActive = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.TakeawayActive.ToString()).SingleOrDefault()?.Value;
    ViewBag.RestaurantId = restaurantId;
    ViewBag.RestaurantName = restaurantName;
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
    ViewBag.TypeList = GotTable.Common.List.OfferTyeList.Get();
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-star star-icon"></i>&nbsp;<a href="#">Offer's List</a></li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span class="pull-left">
                <h2> Offer's information</h2>
            </span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">

                    @using (Html.BeginForm(null, null, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <table class="table table-bordered table-striped">
                            <tbody>
                                @if (!Model.Status)
                                {
                                    <tr class="warning">
                                        <td colspan="2" style="color:maroon;font-size-13px;">
                                            @Model.ErrorMessage
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td style="width:30%;">
                                        Category
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.DropDownListFor(x => x.CategoryId, new SelectList(ViewBag.CategoryList, "Id", "Name"), "Choose one", new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:30%;">
                                        Title
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.HiddenFor(x => x.BranchId)
                                            @Html.HiddenFor(x => x.Id)
                                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:30%;">
                                        Description
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Start Date
                                        <br />
                                        <small style="color:maroon;">Required - Date-Month-Year Hour:Minute</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(x => x.StartDateInString, new { @class = "form-control datetimepicker", @readonly = "readonly" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        End Date
                                        <br />
                                        <small style="color:maroon;">Required - Date-Month-Year Hour:Minute</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(x => x.EndDateInString, new { @class = "form-control datetimepicker", @readonly = "readonly" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Offer type
                                        <br />
                                        <small style="color:maroon;">Required</small>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.DropDownListFor(x => x.TypeId, new SelectList(ViewBag.TypeList, "Id", "Name"), "Choose one", new { @class = "form-control" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="editor-field">
                                            @Html.CheckBoxFor(x => x.IsActive)
                                            Active
                                        </div>
                                        @if (dineInActive == "true")
                                        {
                                            <div class="editor-field">
                                                @Html.CheckBoxFor(x => x.IsDineIn)
                                                DineIn Option
                                            </div>
                                        }
                                        @if (deliveryActive == "true")
                                        {
                                            <div class="editor-field">
                                                @Html.CheckBoxFor(x => x.IsDelivery)
                                                Delivery Option
                                            </div>
                                        }
                                        @if (takeawayActive == "true")
                                        {
                                            <div class="editor-field">
                                                @Html.CheckBoxFor(x => x.IsTakeAway)
                                                TakeAway Option
                                            </div>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="col-xs-6">
                                            <input type="submit" value="Save" class="btn btn-success" />
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                var today = new Date();
                                $('.datetimepicker').datetimepicker({
                                    autoclose: true,
                                    format: 'mm-dd-yyyy HH:ii P',
                                    pickerPosition: "bottom-right",
                                    showMeridian: true,
                                    startDate: today,
                                    minuteStep: 5
                                });
                            });
                        </script>
                    }
                </div>
            </div>
        </div>
    </div>
</div>