﻿@using GotTable.DAO.Restaurants.PreferredRestaurants;
@using GotTable.Common.Enumerations;

@{
    var userId = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.UserId.ToString()).SingleOrDefault().Value;
    var role = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.Role.ToString()).SingleOrDefault().Value;
    var cityId = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.CityId.ToString()).SingleOrDefault().Value;
    ViewBag.Title = "Preferred restaurants";
    ViewBag.ActiveMenu = "PreferredRestaurant";
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}
@model IEnumerable<GotTable.DAO.Restaurants.PreferredRestaurants.PreferredRestaurantDAO>

<style type="text/css">
    #sortable li {
        margin: 0 3px 3px 3px;
        padding: 0.4em;
        padding-left: 1.5em;
        font-size: 1.4em;
        height: 18px;
        list-style-type: none;
    }
</style>
<script type="text/javascript">
    $(function () {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
    });

    function openModel() {
        $('#myModal').modal();
    }

    function updateRestaurantIndexes() {
        var restaurantIds = new Array();
        $('#sortable').find('li').each(function () {
            restaurantIds.push($(this).attr("id"));
        });
        $.ajax({
            type: 'Post',
            url: 'PreferredRestaurants/update',
            contentType: 'application/json',
            data: JSON.stringify(restaurantIds),
            success: function (data) {
                window.location.reload();
            }
        });
    }
</script>


<div class="main-content">

    <!-- #region Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        @{
            var model = new PreferredRestaurantDAO()
            {
                CityId = role != Enumeration.AdminType.SuperAdmin.ToString() && cityId != null ? Convert.ToDecimal(cityId) : 0
            };
        }
        <div class="modal-dialog">
            @using (@Html.BeginForm("Add", null, model, FormMethod.Post))
            {
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add new restaurant</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="text-info">Name</span>
                                <br />
                                @Html.DropDownListFor(x => model.RestaurantId, new SelectList(ViewBag.RestaurantList, "BranchId", "Name"),
                                    "Please select", new { @class = "form-control" })
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-lg-12">
                            <button class="btn btn-success" type="submit">Save</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- #endRegion Modal -->

    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-star"></i>&nbsp;Preferred Restaurant's List</li>
        </ul>
    </div>

    <div class="page-content">

        <div class="addheader" style="margin-top:15px;">
            <span style="float:left">
                <h2>Preferred restaurant's list</h2>
            </span>
            <span style="float:right;">
                <a onclick="openModel(); return;" style="cursor:pointer;">Add</a>
            </span>
        </div>
        <div style="width:96%; margin:auto; height:40px; padding-bottom:5px;">
            <div class="col-md-10 text-left">
                <span class="text-danger" style="font-size:15px;">Drag and drop the items to update the index, Please click on "Save" after changes.</span>
            </div>
            <div class="col-md-2 text-right">
                <a class="btn btn-success btn-sm" onclick="updateRestaurantIndexes(); return;" style="cursor:pointer;">Save</a>
            </div>
        </div>
        <div class="row" style="width:96%; margin:auto">
            <ul class="row" id="sortable" style="width:100%;">
                @foreach (var item in Model)
                {
                    <li id="@item.RestaurantId" class="ui-state-default" style="height:50px;width:100%;border: solid #26d21a 1px; font-size: 12px;margin: 10px 0px;border-left: solid #26d21a 10px; cursor: all-scroll">
                        <div class="row" style="width:100%;">
                            <div class="col-md-10 text-left">
                                <b>@item.Name</b>
                                <br />
                                @item.Address
                                @item.CityName
                            </div>
                            <div class="col-md-2 text-right">
                                <a class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?');" href='@Url.Action("Remove", "PreferredRestaurants", new { @preferredRestaurantId = item.RestaurantId, @cityId = item.CityId })' )>Remove</a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
