﻿@using GotTable.Web.Models;
@using GotTable.Common.Enumerations;
@model GotTable.DAO.RestaurantConfigurations.BranchConfigurationDAO
@{
    var role = Context.User.Claims.SingleOrDefault(x => x.Type == Enumeration.ClaimType.Role.ToString()).Value;
    var restaurantId = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    var restaurantName = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    if (role == Enumeration.UserType.EndUser.ToString())
    {
        ViewBag.ActiveMenu = "RestaurantDetail";
        ViewBag.ActiveSubMenu = "ConfigurationEdit";
    }
    else
    {
        ViewBag.RestaurantName = restaurantName;
        ViewBag.ActiveMenu = "RestaurantDetail";
        ViewBag.ActiveSubMenu = "Configuration";
    }
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
}

<style type="text/css">
    .toggle.ios, .toggle-on.ios, .toggle-off.ios {
        border-radius: 5px;
        font-weight: bold;
        top: 4px;
    }
    .toggle.ios .toggle-handle {
        border-radius: 5px;
        font-weight: bold;
        top: 4px;
    }
</style>

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-settings"></i>&nbsp;Configuration</li>
        </ul>
    </div>
    <div class="page-content" style="padding-top:20px;">
        <div class="addheader">
            <span style="float:left"><h2> Mandatory configurations to make your restaurant active for users.</h2></span>
            <span style="float:right">&nbsp;</span>
        </div>
        <div class="row col-xs-12">
            @using (Html.BeginForm(null, null, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(x => x.BranchId)
            <table class="table table-bordered table-condensed">
                @if (role == Enumeration.AdminType.SalesAdmin.ToString())
                {
                    <!-- DineIn section-->
                    <tr>
                        <td style="width: 25%;">
                            Auto complete DineIn service
                            <br />
                            <small style="color:#808080;">Enable this service to auto complete the booking automatic</small>
                        </td>
                        <td>
                            <div class="editor-field" style="margin-top:5px;">
                                @Html.CheckBoxFor(x => Model.DineInAutoCompleteActive, new
                                {
                                    id = "DineInAutoCompleteActive",
                                    data_toggle = "toggle",
                                    data_style = "ios",
                                    data_onstyle = "primary",
                                    data_offstyle = "warning",
                                    data_on = "Active",
                                    data_off = "Inactive",
                                    data_size = "normal"
                                })
                            </div>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 25%;">
                            Auto complete booking after hours
                            <br />
                            <small style="color:#808080;">Choose  value</small>
                        </td>
                        <td>
                            <div class="editor-field" style="margin-top:5px;">
                                <select name="DineInAutoCompleteHours" class="form-control">
                                    <option value="0">Please select</option>
                                    <option selected="@(Model.DineInAutoCompleteHours == 1 ? "selected" : "")" value="1">1</option>
                                    <option selected="@(Model.DineInAutoCompleteHours == 2 ? "selected" : "")" value="2">2</option>
                                    <option selected="@(Model.DineInAutoCompleteHours == 3 ? "selected" : "")" value="3">3</option>
                                    <option selected="@(Model.DineInAutoCompleteHours == 4 ? "selected" : "")" value="4">4</option>
                                    <option selected="@(Model.DineInAutoCompleteHours == 5 ? "selected" : "")" value="5">5</option>
                                    <option selected="@(Model.DineInAutoCompleteHours == 6 ? "selected" : "")" value="6">6</option>
                                    <option selected="@(Model.DineInAutoCompleteHours == 7 ? "selected" : "")" value="7">7</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 25%;">
                            DineIn reward service
                            <br />
                            <small style="color:#808080;">Enable this service to for sending reward message to user</small>
                        </td>
                        <td>
                            <div class="editor-field" style="margin-top:5px;">
                                @Html.CheckBoxFor(x => Model.DineInRewardActive, new
                                {
                                    id = "DineInRewardActive",
                                    data_toggle = "toggle",
                                    data_style = "ios",
                                    data_onstyle = "primary",
                                    data_offstyle = "warning",
                                    data_on = "Active",
                                    data_off = "Inactive",
                                    data_size = "normal"
                                })
                            </div>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 25%;">
                            DineIn reward 
                            <br />
                            <small style="color:#808080;">Interger only</small>
                        </td>
                        <td>
                            <div class="editor-field" style="margin-top:5px;">
                                @Html.TextBoxFor(x => Model.DineInReward, new { @class = "form-control" })
                            </div>
                            <br />
                        </td>
                    </tr>

                    <!-- Delivery section-->
                    <tr>
                        <td>
                            Delivery coverage
                            <br />
                            <small style="color:#808080;">Provide a distance in kms</small>
                        </td>
                        <td>
                            <div class="editor-field" style="margin-top:5px;">
                                <select name="DeliveryCoverage" class="form-control">
                                    <option value="0">Please select</option>
                                    <option selected="@(Model.DineInAutoCompleteHours == 1 ? "selected" : "")" value="1">1</option>
                                    <option selected="@(Model.DineInAutoCompleteHours == 2 ? "selected" : "")" value="2">2</option>
                                    <option selected="@(Model.DineInAutoCompleteHours == 3 ? "selected" : "")" value="3">3</option>
                                    <option selected="@(Model.DineInAutoCompleteHours == 4 ? "selected" : "")" value="4">4</option>
                                    <option selected="@(Model.DineInAutoCompleteHours == 5 ? "selected" : "")" value="5">5</option>
                                    <option selected="@(Model.DineInAutoCompleteHours == 6 ? "selected" : "")" value="6">6</option>
                                    <option selected="@(Model.DineInAutoCompleteHours == 7 ? "selected" : "")" value="7">7</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Estimation time
                            <br />
                            <small style="color:#808080;">Minimum time required to deliver the order. Please provide value in minutes only.</small>
                        </td>
                        <td>
                            <div class="editor-field" style="margin-top:5px;">
                                <select name="DeliveryStandBy" class="form-control">
                                    <option value="0">Please select</option>
                                    <option selected="@(Model.DeliveryStandBy == "30" ? "selected" : "")" value="30">30 minutes</option>
                                    <option selected="@(Model.DeliveryStandBy == "45" ? "selected" : "")" value="45">45 minutes</option>
                                    <option selected="@(Model.DeliveryStandBy == "60" ? "selected" : "")" value="60">60 minutes</option>
                                    <option selected="@(Model.DeliveryStandBy == "90" ? "selected" : "")" value="90">90 minutes</option>
                                    <option selected="@(Model.DeliveryStandBy == "120" ? "selected" : "")" value="120">120 minutes</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Delivery charges
                            <br />
                            <small style="color:#808080;">Eg - xx.xx</small>
                        </td>
                        <td>
                            <div class="editor-field" style="margin-top:5px;">
                                @Html.TextBoxFor(x => x.DeliveryCharges, new { @class = "form-control" })
                            </div>
                        </td>
                    </tr>

                    <!-- Takeaway section-->
                    <tr>
                        <td>
                            Standby time
                            <br />
                            <small style="color:#808080;">Minimum wait time for any user to pickup</small>
                        </td>
                        <td>
                            <div class="editor-field" style="margin-top:5px;">
                                <select name="TakeawayStandBy" class="form-control">
                                    <option value="0">Please select</option>
                                    <option selected="@(Model.DeliveryStandBy == "30" ? "selected" : "")" value="30">30 minutes</option>
                                    <option selected="@(Model.DeliveryStandBy == "45" ? "selected" : "")" value="45">45 minutes</option>
                                    <option selected="@(Model.DeliveryStandBy == "60" ? "selected" : "")" value="60">60 minutes</option>
                                    <option selected="@(Model.DeliveryStandBy == "90" ? "selected" : "")" value="90">90 minutes</option>
                                    <option selected="@(Model.DeliveryStandBy == "120" ? "selected" : "")" value="120">120 minutes</option>
                                </select>
                            </div>
                        </td>
                    </tr>

                    <!-- Other section-->
                    <tr>
                        <td>
                            Central GST
                            <br />
                            <small style="color:#808080;">Eg - xx.xx</small>
                        </td>
                        <td>
                            <div class="editor-field" style="margin-top:5px;">
                                @Html.TextBoxFor(x => x.CentralGST, new { @class = "form-control" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            State GST
                            <br />
                            <small style="color:#808080;">Eg - xx.xx</small>
                        </td>
                        <td>
                            <div class="editor-field" style="margin-top:5px;">
                                @Html.TextBoxFor(x => x.StateGST, new { @class = "form-control" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Save" class="btn btn-success" />
                        </td>
                    </tr>
                }
            </table>
            }
        </div>
    </div>
</div>


