﻿@using GotTable.Common.Enumerations;
@model IEnumerable<GotTable.DAO.RestaurantDocuments.DocumentInfoDAO>
@{
    ViewBag.ActiveMenu = "RestaurantDetail";
    ViewBag.ActiveSubMenu = "DocumentList";
    ViewBag.DocumentCategoryList = GotTable.Common.List.DocumentCategoryList.Get();
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
    var userId = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.UserId.ToString()).SingleOrDefault().Value;
    var role = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.Role.ToString()).SingleOrDefault().Value;
    var restaurantId = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    var restaurantName = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    ViewBag.RestaurantId = restaurantId;
    ViewBag.RestaurantName = restaurantName;
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-glass"></i>&nbsp;Gallery</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader col-lg-11">
            <span style="float:left"><h2> Galley Items </h2></span>
        </div>
        <div class="col-lg-1">
            <span style="float:right;padding:3px;padding-right:10px;">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">New</button>
            </span>
        </div>
        <div class="row col-lg-12">
            <table class="table table-bordered table-condensed">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-left">
                            <img src='@item.Path' style="width:auto;height:auto;max-width:150px;max-height:150px;">
                        </td>
                        <td class="text-left">
                            <span class="text-warning">@item.CategoryName</span>
                            <br />
                            <br />
                            <span class="text-info">@item.Name</span>
                        </td>
                        <td class="text-right">
                            <a href='@Url.Action("Delete", null, new { @documentId = item.DocumentId })' class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<!-- #region Modal -->
<div class="modal fade" id="myModal" role="dialog">
    @{
        var documentCategoryList = GotTable.Common.List.DocumentCategoryList.Get();
        var imageModel = new GotTable.DAO.RestaurantDocuments.DocumentDAO()
        {
            Active = true,
            BranchId = decimal.Parse(restaurantId),
            CategoryId = 0
        };
    }
    @using (@Html.BeginForm("Upload", null, new { @enctype = "multipart/form-data" }, FormMethod.Post, true, imageModel))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => imageModel.BranchId);
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Choose one image</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="text-info">Category</span>
                            <br />
                            <select name="CategoryId" class="form-control">
                                <option selected="selected">Please select</option>
                                @foreach (var item in documentCategoryList)
                                {
                                    <option value='@item.Id'>@item.Name</option>
                                }
                            </select>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <span class="text-info">File</span>
                            <br />
                            <input type='file' name="Content" class='form-control' accept="image/*" />
                            <br />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-12">
                        <button class="btn btn-success" type="submit">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- #endRegion Modal -->
<!-- #region Script -->
<script type="text/javascript">

</script>

<!-- #endRegion Script -->
