﻿@using GotTable.Common.Enumerations;
@model IEnumerable<GotTable.DAO.RestaurantMenus.BranchMenuDAO>
@{
    ViewBag.ActiveMenu = "RestaurantDetail";
    ViewBag.ActiveSubMenu = "MenuList";
    var restaurantId = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    var restaurantName = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    ViewBag.RestaurantId = restaurantId;
    ViewBag.RestaurantName = restaurantName;
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-coffee"></i>&nbsp;Menu List</li>
        </ul>
    </div>

    <div class="page-content">

        <div class="addheader">
            <span style="float:left"><h2> Menu List </h2></span>
            <span style="float:right">
                <div class="addbtn"> @Html.ActionLink("New", "Index", "MenuEdit", new { @menuId = 0 }, null )</div>
            </span>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                        @if (Model != null)
                        {
                            <thead>
                                <tr>
                                    <th style="width:10%;">
                                        Name
                                    </th>
                                    <th style="width:35%;">
                                        Description
                                    </th>
                                    <th style="width:10%;">
                                        Cuisine
                                    </th>
                                    <th style="width:10%;">
                                        Category
                                    </th>
                                    <th style="width:10%;">
                                        Price
                                    </th>
                                    <th style="width:5%;">
                                        Active
                                    </th>
                                    <th style="width:5%;">
                                        Takeaway
                                    </th>
                                    <th style="width:5%;">
                                        Delivery
                                    </th>
                                    <th style="width:10%;"></th>
                                </tr>
                            </thead>

                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(modelItem => item.BranchId)
                                        @Html.HiddenFor(modelItem => item.Id)
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SelectedCuisine)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SelectedCategory)
                                    </td>
                                    <td>
                                        <small style="color:#808080;">Rs.</small> @Html.DisplayFor(modelItem => item.Cost)
                                    </td>
                                    <td>
                                        @if (item.IsActive)
                                        {
                                            <span class="cusine-yes">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="cusine-no">No</span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.IsTakeAwayAvailable)
                                        {
                                            <span class="cusine-yes">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="cusine-no">No</span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.IsDeliveryAvailable)
                                        {
                                            <span class="cusine-yes">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="cusine-no">No</span>
                                        }
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Index", "MenuEdit", new { menuId = item.Id }, null)
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

