﻿@model IEnumerable<GotTable.DAO.OfferCategories.OfferCategoryDAO>
@{
    ViewBag.ActiveMenu = "OfferCategoriesList";
    ViewBag.ActiveSubMenu = "";
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}

<style>
    .toggle.ios, .toggle-on.ios, .toggle-off.ios {
        border-radius: 5px;
    }
</style>

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-settings"></i>Offer's Category List</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2>Offer's categories list</h2></span>
            <span id="btnNewOfferCategory" style="float:right"><a href="#">New</a></span>
        </div>
        <div class="row col-xs-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Logo
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Engaged offers counts
                        </th>
                        <th>
                            Status
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src='@item.ImagePath' style="width:auto;height:auto;max-height:150px;max-width:150px;" />
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.EngagedOffers
                            </td>
                            <td>
                                @Html.CheckBoxFor(x => item.Active, new
                                {
                                    id = "Active",
                                    data_toggle = "toggle",
                                    data_style = "ios",
                                    data_onstyle = "danger",
                                    data_offstyle = "success",
                                    data_on = "Disable",
                                    data_off = "Enable",
                                    data_size = "small"
                                })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- #region Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        @{
            var categoryDAO = new GotTable.DAO.OfferCategories.OfferCategoryDAO
            {
                Active = true,
                Extension = string.Empty,
                Name = string.Empty
            };
        }
        @using (@Html.BeginForm("Save", null, new { @enctype = "multipart/form-data" }, FormMethod.Post, true, new { @enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => categoryDAO.Active);
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add new category</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="text-info">Name</span>
                                <br />
                                <input type='text' name="categoryDAO.Name" class='form-control' />
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="text-info">Logo</span>
                                <br />
                                <input type='file' name="categoryDAO.Content" class='form-control' accept="image/*" />
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-lg-12">
                            <button class="btn btn-success" type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- #endRegion Modal -->
    <!-- #region Script -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnNewOfferCategory').click(function () {
                $('#myModal').modal();
            });
        });
    </script>
    <!-- #endRegion Script -->
</div>
