﻿@using GotTable.Common.Enumerations;
@model GotTable.DAO.RestaurantSettings.RestaurantSettingDAO
@{
    var restaurantId = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    var restaurantName = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    ViewBag.ActiveMenu = "RestaurantDetail";
    ViewBag.ActiveSubMenu = "Setting";
    ViewBag.RestaurantId = restaurantId;
    ViewBag.RestaurantName = restaurantName;
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
    ViewBag.StatusList = GotTable.Common.List.StatusList.Get();
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-settings"></i>Setting</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2>Restaurant setting and statics</h2></span>
            <span style="float:right">&nbsp; </span>
        </div>
        <div class="page-content">
            <div class="col-xs-12">
                <div class="row">
                    @using (@Html.BeginForm(null, null, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken();
                        @Html.ValidationSummary(true);
                        @Html.HiddenFor(x => x.BranchId)
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th colspan="2">
                                    Account admin settings
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    Account admin
                                    <br />
                                    <small style="color:maroon;">Select one account admin.</small>
                                </td>
                                <td>
                                    @Html.DropDownListFor(x => x.AccountAdminPersonId, new SelectList(ViewBag.UserList, "UserId", "FullName"), "Choose one status", new { @class = "form-control" })
                                </td>
                            </tr>
                            @if (Model.AccountAdminPersonId != 0)
                            {
                                <tr>
                                    <td>
                                        Access to account admin
                                        <br />
                                        <small style="color:maroon;">Set access restriction for account admin.</small>
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(x => x.OpenForAccountAdmin, new SelectList(ViewBag.StatusList, "Name", "Name"), "Choose one status", new { @class = "form-control" })
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    Available for end users
                                    <br />
                                    <small style="color:maroon;">Set visiblity for this restaurant on application.</small>
                                </td>
                                <td>
                                    @Html.DropDownListFor(x => x.ApplicationStatus, new SelectList(ViewBag.StatusList, "Name", "Name"), "Choose one status", new { @class = "form-control" })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="submit" value="Save" class="btn btn-success" />
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    Restaurant statics
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    Contact(s) added
                                </td>
                                <td>
                                    <span class="cusine-yes">@Model.Contacts</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Cuisine(s) added
                                </td>
                                <td>
                                    <span class="cusine-yes">@Model.Cuisines</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Table(s) added
                                </td>
                                <td>
                                    <span class="cusine-yes">@Model.Tables</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Timing(s) added
                                </td>
                                <td>
                                    <span class="cusine-yes">@Model.Timings</span>
                                </td>
                            </tr>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
