﻿@using GotTable.Web.Models;
@model IEnumerable<GotTable.DAO.PushNotifications.PushNotificationInfoDAO>
@{
    ViewBag.ActiveMenu = "NotificationList";
    ViewBag.ActiveSubMenu = "";
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

        var today = new Date();
        $(".datepicker").datepicker({
            autoclose: true,
            format: 'mm-dd-yyyy',
            pickerPosition: "bottom-right",
        });

        $("#buttonClick").click(function () {

            var scheduleDate = $('#scheduleDate').val();
            var notificationCity = $('#notificationCity').val();
            var notificationType = $('#notificationType').val();

            var url = '@Html.Raw(Url.Action("Index", "NotificationList", new { scheduleDate = "__scheduleDate__", notificationCity = "__notificationCity__", notificationType = "__notificationType__" }))';
            window.location.href = url.replace("__scheduleDate__", scheduleDate).replace("__notificationCity__", notificationCity).replace("__notificationType__", notificationType);
        });
    });
</script>

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-settings"></i>Notification's list</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2>Notification's List</h2></span>
            <span style="float:right">@Html.ActionLink("New", "Index", "NotificationEdit", new { @notificationId = 0 }, null)</span>
        </div>

        <div class="row">
            <div class="col-xs-9">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Created Date time
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Message
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                City
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Schedule Date time
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.CreatedDatetime.ToString("MM-dd-yyyy hh:mm tt")
                            </td>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                @item.Message
                            </td>
                            <td>
                                @item.NotificationType
                            </td>
                            <td>
                                @item.CityName
                            </td>
                            <td>
                                @item.StatusName
                            </td>
                            <td>
                                @item.ScheduleTime
                            </td>
                            <td>
                                <a href="/NotificationDetail?notificationId=@item.Id">Detail</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-xs-3" style="border-left: solid #26d21a 1px; height: 500px;">
                <div class="col-md-12" style="margin-top:3px;">
                    <h3>Filters</h3>
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <span class="text-danger bolder">Schedule Date</span>
                    <br />
                    <input type="text" id="scheduleDate" class="form-control datepicker" readonly value='@ViewBag.ScheduleDate' />
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <span class="text-danger bolder">City</span>
                    <br />
                    <select class="form-control" id="notificationCity">
                        <option value="">Select city</option>
                        <option selected="@(@ViewBag.NotficationCity == "Delhi" ? "selected" : "")" value="Delhi">Delhi</option>
                        <option selected="@(@ViewBag.NotficationCity == "Banglore" ? "selected" : "")" value="Banglore">Banglore</option>
                    </select>
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <span class="text-danger bolder">Notification Type</span>
                    <br />
                    <select class="form-control" id="notificationType">
                        <option value="">Select type</option>
                        <option selected="@(@ViewBag.NotificationType == "IOS" ? "selected" : "")" value="IOS">Ios</option>
                        <option selected="@(@ViewBag.NotificationType == "Android" ? "selected" : "")" value="Android">Android</option>
                    </select>
                </div>
                <div class="col-md-12" style="margin-top:30px;">
                    <input id="buttonClick" type="button" value="Search" class=" btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>

