﻿@model IEnumerable<GotTable.DAO.RestaurantBookings.BillUploads.BillUploadListItemInfoDAO>
@using GotTable.Common.Enumerations;
@{
    ViewBag.ActiveMenu = "BillUploadStatus";
    ViewBag.ActiveSubMenu = "";
    var restaurantId = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    var restaurantName = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    ViewBag.RestaurantId = restaurantId;
    ViewBag.RestaurantName = restaurantName;
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

        var today = new Date();
        $(".datepicker").datepicker({
            autoclose: true,
            format: 'mm-dd-yyyy',
            pickerPosition: "bottom-right",
        });

        $("#buttonClick").click(function () {

            var emailAddress = $('#emailAddress').val();
            var phoneNumber = $('#phoneNumber').val();
            var uploadStatus = $('#uploadStatus').val();

            var url = '@Html.Raw(Url.Action("Index", "BillUploadList", new { emailAddress = "__emailAddress__", phoneNumber = "__phoneNumber__", uploadStatus = "__uploadStatus__" }))';
            window.location.href = url.replace("__emailAddress__", emailAddress).replace("__phoneNumber__", phoneNumber).replace("__uploadStatus__", uploadStatus);
        });
    });
</script>


<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-glass"></i>&nbsp;Bill Uploaded List</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2> Uploaded List </h2></span>
        </div>
        <div class="row">
            <div class="col-xs-9">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Uploaded date
                                </th>
                                <th>
                                    Booking date
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Email address
                                </th>
                                <th>
                                    Phone number
                                </th>
                                <th>
                                    Restaurant name
                                </th>
                                <th>
                                    Restaurant address
                                </th>
                                <th>
                                    Amount
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.UploadedDate.Value.ToString("dd-MM-yyyy hh:mm")
                                    </td>
                                    <td>
                                        @item.BookingDate
                                    </td>
                                    <td>
                                        @item.UserName
                                    </td>
                                    <td>
                                        @item.EmailAddress
                                    </td>
                                    <td>
                                        @item.PhoneNumber
                                    </td>
                                    <td>
                                        @item.RestaurantName
                                    </td>
                                    <td>
                                        @item.RestaurantAddress
                                    </td>
                                    <td>
                                        @item.Amount
                                    </td>
                                    <td>
                                        <a href="~/BillUploadEdit?bookingId=@item.BookingId" class="btn-group">Detail</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-3" style="border-left: solid #26d21a 1px; height: 500px;">
                <div class="col-md-12" style="margin-top:3px;">
                    <h3>Filters</h3>
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <span class="text-danger bolder">Email address</span>
                    <br />
                    <input type="text" id="emailAddress" class="form-control" value='@ViewBag.EmailAddress' />
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <span class="text-danger bolder">Phone number</span>
                    <br />
                    <input type="text" id="phoneNumber" class="form-control" value='@ViewBag.PhoneNumber' />
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    <span class="text-danger bolder">Status</span>
                    <br />
                    <select class="form-control" id="uploadStatus">
                        <option selected value="">Select status</option>
                        <option selected="@(@ViewBag.UploadStatus == "InProcessing" ? "selected" : "")" value="InProcessing">InProcessing</option>
                        <option selected="@(@ViewBag.UploadStatus == "Error" ? "selected" : "")" value="Error">Error</option>
                        <option selected="@(@ViewBag.UploadStatus == "Done" ? "selected" : "")" value="Done">Done</option>
                    </select>
                </div>
                <div class="col-md-12" style="margin-top:30px;">
                    <input id="buttonClick" type="button" value="Search" class=" btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</div>
