﻿@using GotTable.Common.Enumerations;
@model GotTable.DAO.RestaurantDocuments.RestaurantImageDAO
@{
    ViewBag.ActiveMenu = "RestaurantDetail";
    ViewBag.ActiveSubMenu = "ImageList";
    var restaurantId = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    var restaurantName = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    ViewBag.RestaurantId = restaurantId;
    ViewBag.RestaurantName = restaurantName;
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2>Restaurant's Images</h2></span>
            <span style="float:right">&nbsp; </span>
        </div>
        <div class="row">
            <div class="col-xs-4">
                @using (@Html.BeginForm(null, null, FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>
                                    <h5>@Model.FrontImage.LogoName</h5>
                                </td>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                <div class="col-xs-12 center" style="height:250px;width:100%;">
                                    @if (!String.IsNullOrEmpty(Model.FrontImage.FilePath))
                                    {
                                        <img src='@Model.FrontImage.FilePath' style="width:auto;height:auto;max-height:100%;;max-width:100%;" />
                                    }
                                </div>
                                <input type="hidden" value='@Model.FrontImage.RestaurantId' name="RestaurantId" />
                                <input type="hidden" value='@Model.FrontImage.LogoName' name="LogoName" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type='file' name="Content" class='form-control' />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-xs-2 center">
                                    <input type="submit" value="Upload" class="btn btn-success" />
                                </div>
                            </td>
                        </tr>
                    </table>
                }
            </div>

            <div class="col-xs-4">
                @using (@Html.BeginForm(null, null, FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>
                                    <h5>@Model.BackImage.LogoName</h5>
                                </td>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                <div class="col-xs-12 center" style="height:250px;width:100%;">
                                    @if (!String.IsNullOrEmpty(Model.BackImage.FilePath))
                                    {
                                        <img src='@Model.BackImage.FilePath' style="width:auto;height:auto;max-height:100%;;max-width:100%;" />
                                    }
                                </div>
                                <input type='hidden' value='@Model.BackImage.RestaurantId' name='RestaurantId' />
                                <input type='hidden' value='@Model.BackImage.LogoName' name='LogoName' />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type='file' name="Content" class='form-control' />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-xs-2">
                                    <input type="submit" value="Upload" class="btn btn-success" />
                                </div>
                            </td>
                        </tr>
                    </table>
                }
            </div>

            <div class="col-xs-4">
                @using (@Html.BeginForm(null, null, FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>
                                    <h5>@Model.LogoImage.LogoName</h5>
                                </td>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                <div class="col-xs-12 center" style="height:250px;width:100%;">
                                    @if (!String.IsNullOrEmpty(Model.FrontImage.FilePath))
                                    {
                                        <img src='@Model.LogoImage.FilePath' style="width:auto;height:auto;max-height:100%;;max-width:100%;" />
                                    }
                                </div>
                                <input type="hidden" value='@Model.LogoImage.RestaurantId' name="RestaurantId" />
                                <input type="hidden" value='@Model.LogoImage.LogoName' name="LogoName" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type='file' name="Content" class='form-control' />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="col-xs-2 center">
                                    <input type="submit" value="Upload" class="btn btn-success" />
                                </div>
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
