﻿@model IEnumerable<GotTable.DAO.Restaurants.InvoicedRestaurantDAO>
@{
    ViewBag.ActiveMenu = "Invoicedlist";
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li style="font-weight:bold;"><i class="icon-settings"></i>Invoiced Restaurant list</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row" style="height: 40px;margin:10px 5px;">
            <table class="table table-bordered">
                <tr>
                    <th>
                        Total
                        &nbsp;
                        <span class="bolder" style="color:maroon">@ViewBag.Total</span>
                    </th>
                    <th>
                        Casual Dining
                        &nbsp;
                        <span class="bolder" style="color:maroon">@ViewBag.CasualDining</span>
                    </th>
                    <th>
                        Pub
                        &nbsp;
                        <span class="bolder" style="color:maroon">@ViewBag.Pub</span>
                    </th>
                    <th>
                        Microbrewery
                        &nbsp;
                        <span class="bolder" style="color:maroon">@ViewBag.Microbrewery</span>
                    </th>
                    <th>
                        Premium
                        &nbsp;
                        <span class="bolder" style="color:maroon">@ViewBag.Premium</span>
                    </th>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Agent Name
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Name & Address
                                </th>
                                <th>
                                    Start Date
                                </th>
                                <th>
                                    End Date
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var restaurantItem in Model)
                            {
                                <tr>
                                    <td>
                                        @restaurantItem.SalesPerson
                                    </td>
                                    <td>
                                        @restaurantItem.Category.ToString()
                                    </td>
                                    <td>
                                        @restaurantItem.RestaurantName
                                        <br />
                                        @restaurantItem.AddressLine1 @restaurantItem.AddressLine2
                                        <br />
                                        @restaurantItem.City @restaurantItem.State @restaurantItem.Zip
                                    </td>
                                    <td>
                                        @restaurantItem.StartDate.Value.ToString("dd-MMM-yyyy")
                                    </td>
                                    <td>
                                        @restaurantItem.EndDate.Value.ToString("dd-MMM-yyyy")
                                        <br />
                                        <br />
                                        @if (restaurantItem.RemainingDays < 8 && restaurantItem.RemainingDays > -1)
                                        {
                                            <small style="color:maroon;font-weight:bold;">
                                                @restaurantItem.RemainingDays days left
                                            </small>
                                        }
                                        else if (restaurantItem.RemainingDays <= 0)
                                        {
                                            <small style="color:maroon;background-color:yellow;padding:2px 5px;border-radius:3px;">
                                                Restaurant is inactive.
                                            </small>
                                        }
                                        else
                                        {
                                            <small style="color:green;">
                                                @restaurantItem.RemainingDays days left
                                            </small>
                                        }
                                    </td>
                                    <td>
                                        <a href="~/RestaurantEdit/ToggleRestaurant?restaurantId=@restaurantItem.RestaurantId"
                                           onclick="return confirm('Are you sure?');">
                                            @(restaurantItem.IsActive == true ? "De activate" : "Activate" )
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>