﻿<!DOCTYPE html>
@{
    var name = @Context.User.Claims.Where(x => x.Type == GotTable.Common.Enumerations.Enumeration.ClaimType.Name.ToString()).SingleOrDefault().Value;
    var role = @Context.User.Claims.Where(x => x.Type == GotTable.Common.Enumerations.Enumeration.ClaimType.Role.ToString()).SingleOrDefault().Value;
    var restaurantAddress = @Context.User.Claims.Where(x => x.Type == GotTable.Common.Enumerations.Enumeration.ClaimType.RestaurantAddress.ToString()).SingleOrDefault()?.Value;
    var restaurantName = @Context.User.Claims.Where(x => x.Type == GotTable.Common.Enumerations.Enumeration.ClaimType.RestaurantName.ToString()).SingleOrDefault
        ()?.Value;
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>GotTable</title>
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- basic styles -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" media="screen" />
    <link rel="stylesheet" href="~/css/ace.min.css" />
    <link rel="stylesheet" href="~/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="~/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.css" />
    <script type="text/javascript" src="~/js/ace-extra.min.js"></script>
    <script type="text/javascript" src="~/Js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/typeahead-bs2.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.easy-pie-chart.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="~/js/ace-elements.min.js"></script>
    <script type="text/javascript" src="~/js/ace.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.flot.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.flot.pie.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.flot.resize.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript">
        try { ace.settings.check('navbar', 'fixed') } catch (e) { }
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
        if ("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
        try { ace.settings.check('main-container', 'fixed') } catch (e) { }
    </script>
</head>
<body>
    <div class="navbar navbar-default" id="navbar">
        <div class="navbar-container" id="navbar-container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="navbar-header pull-left">
                        <a href="#" class="navbar-brand">
                            <i>
                                <img src="~/images/gottable.png">
                            </i>
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="resturant-name">
                        @if (role == GotTable.Common.Enumerations.Enumeration.AdminType.HotelAdmin.ToString())
                        {
                            <p>
                                @restaurantName
                                <br />
                                @restaurantAddress
                            </p>
                        }
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="navbar-header pull-right" role="navigation">
                        <ul class="nav ace-nav">
                            <li class="light-blue">
                                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                    <img class="nav-user-photo" src="~/avatars/user.jpg" alt="Oliver Smith" />
                                    <span class="user-info">
                                        Welcome,
                                        <br />
                                        @name
                                    </span>
                                    <i class="icon-caret-down"></i>
                                </a>
                                <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                    <li><a href="#"><i class="icon-cog"></i>Change password</a></li>
                                    <li class="divider"></li>
                                    <li><a href="~/Logout"><i class="icon-off"></i>Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container" id="main-container">
        <div class="main-container-inner">
            <a class="menu-toggler" id="menu-toggler" href="#"><span class="menu-text"></span></a>
            <div class="sidebar" id="sidebar">
                @if (role == GotTable.Common.Enumerations.Enumeration.AdminType.AccountAdmin.ToString())
                {
                    @await Html.PartialAsync("~/Views/Shared/NavList/AccountMenu.cshtml", null);
                }
                @if (role == GotTable.Common.Enumerations.Enumeration.AdminType.SalesAdmin.ToString())
                {
                    @await Html.PartialAsync("~/Views/Shared/NavList/SalesMenu.cshtml", null);
                }
                @if (role == GotTable.Common.Enumerations.Enumeration.AdminType.HotelAdmin.ToString())
                {
                    @await Html.PartialAsync("~/Views/Shared/NavList/RestaurantMenu.cshtml", null);
                }
                @if (role == GotTable.Common.Enumerations.Enumeration.AdminType.SuperAdmin.ToString())
                {
                    @await Html.PartialAsync("~/Views/Shared/NavList/SuperMenu.cshtml", null);
                }
                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                </div>
            </div>
            <!-- Main Content Start Here -->
            @RenderBody()
            <!-- Main Content Start Here -->
        </div>
    </div>
</body>
</html>
