﻿@using GotTable.Common.Enumerations;
@{
    var role = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.Role.ToString()).SingleOrDefault()?.Value;
    ViewBag.ActiveMenu = "Pipelinedlist";
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-settings"></i>Pipelined</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row col-xs-12" style="margin:14px 0px;">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width:80%;">
                            Name & address
                        </th>
                        @if (role == GotTable.Common.Enumerations.Enumeration.AdminType.SuperAdmin.ToString())
                        {
                            <th>
                                Sales admin
                            </th>
                        }
                        <th>
                            Account admin
                        </th>
                        <th>
                            Contacts
                        </th>
                        <th>
                            Cuisines
                        </th>
                        <th>
                            Tables
                        </th>
                        <th>
                            Menus
                        </th>
                        <th>
                            Timings
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var restaurantItem in Model)
                    {
                        <tr>
                            <td>
                                @if (role == GotTable.Common.Enumerations.Enumeration.AdminType.SalesAdmin.ToString())
                                {
                                    <ins>@Html.ActionLink((string)restaurantItem.RestaurantName, "Index", "RestaurantEdit", new { restaurantId = restaurantItem.RestaurantId }, null)</ins>
                                }
                                else
                                {
                                    @restaurantItem.RestaurantName
                                }
                                <br />
                                <br />
                                @restaurantItem.AddressLine1,
                                @restaurantItem.AddressLine2
                                <br />
                                @restaurantItem.City
                                @restaurantItem.State
                                @restaurantItem.Zip
                            </td>
                            @if (role == GotTable.Common.Enumerations.Enumeration.AdminType.SuperAdmin.ToString())
                            {
                                <td>
                                    @restaurantItem.SalesPerson
                                    <br />
                                    @restaurantItem.SalesPersonEmailAddress
                                </td>
                            }
                            <td>
                                @restaurantItem.AccountAdminName
                                <br />
                                @if (restaurantItem.AccountAdminEmailAddress != "NA")
                                {
                                    @restaurantItem.AccountAdminEmailAddress
                                    <br />
                                    <br />
                                    if (restaurantItem.OpenForAccountAdmin)
                                    {
                                        <span class="text-danger">Access is granted</span>
                                    }
                                    else
                                    {
                                        <span class="text-success">Access is restricted</span>
                                    }
                                }
                            </td>
                            <td>
                                @restaurantItem.ContactCount
                            </td>
                            <td>
                                @restaurantItem.CuisineCount
                            </td>
                            <td>
                                @restaurantItem.TablesCount
                            </td>
                            <td>
                                @restaurantItem.MenuCount
                            </td>
                            <td>
                                @restaurantItem.TimingCount
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

