﻿@using GotTable.Common.Enumerations;

@model IEnumerable<GotTable.DAO.RestaurantInvoices.BranchInvoiceDAO>
@{
    ViewBag.ActiveMenu = "RestaurantDetail";
    ViewBag.ActiveSubMenu = "InvoiceList";
    var restaurantId = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    var restaurantName = Context.User.Claims.Where(x => x.Type == Enumeration.ClaimType.RestaurantId.ToString()).SingleOrDefault()?.Value;
    ViewBag.RestaurantId = restaurantId;
    ViewBag.RestaurantName = restaurantName;
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
            <li><i class="icon-settings"></i>@restaurantName</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2>Restaurant's Invoices</h2></span>
            <span style="float:right">
                <a href="~/InvoiceEdit?invoiceId=@Guid.Empty">
                    <span class="menu-text">New</span>
                </a>
            </span>
        </div>
        <div class="row col-xs-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Created Date
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Start date
                        </th>
                        <th>
                            End date
                        </th>
                        <th>
                            Services added
                        </th>
                        <th>
                            Days Left
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var invoiceItem in Model)
                    {
                        <tr>
                            <td>
                                @invoiceItem.CreatedDate.ToString("dd-MM-yyyy")
                            </td>
                            <td>
                                @invoiceItem.Amount
                            </td>
                            <td>
                                @invoiceItem.StartDate.ToString("dd-MMM-yyyy")
                            </td>
                            <td>
                                @invoiceItem.EndDate.ToString("dd-MMM-yyyy")
                            </td>
                            <td>
                                @{
                                    var collectedItem = new List<string>();
                                    if (invoiceItem.DineIn == true)
                                    {
                                        collectedItem.Add("DineIn");
                                    }
                                    if (invoiceItem.Takeaway == true)
                                    {
                                        collectedItem.Add("TakeAway");
                                    }
                                    if (invoiceItem.Delivery == true)
                                    {
                                        collectedItem.Add("Delivery");
                                    }
                                }
                                <span>
                                    @string.Join(", ", collectedItem)
                                </span>
                            </td>
                            <td>
                                @if(invoiceItem.IsActive == true)
                                {
                                    TimeSpan difference = invoiceItem.EndDate - DateTime.Now;
                                    <span class="text-danger">@difference.Days</span>
                                }
                                else
                                {
                                    <span>0</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

