﻿@model IEnumerable<GotTable.DAO.Versions.VersionDAO>
@{
    ViewBag.ActiveMenu = "VersionInfos";
    Layout = "~/Views/Shared/IndexViewLayout.cshtml";
}
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left">
                <h2>Version list</h2>
            </span>
            <span style="float:right">
                <div class="addbtn">
                    @Html.ActionLink("New", "Index", "VersionEdit", new { @versionId = 0 }, null)
                </div>
            </span>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Version Number
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Linked Device
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Number
                                </td>
                                <td>
                                    @item.TypeName
                                </td>
                                <td>
                                    @item.Active
                                </td>
                                <td>
                                    @item.AttachedDeviceCount
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Index", "VersionEdit", new { @versionId = item.VersionId }, null)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
