﻿@using GotTable.Web.Models;
@model GotTable.DAO.Versions.VersionDAO
@{
    ViewBag.ActiveMenu = "VersionInfos";
    Layout = "~/Views/Shared/EditViewLayout.cshtml";
    ViewBag.StatusList = GotTable.Common.List.StatusList.Get();
}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i><a href="#">Home</a> </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="addheader">
            <span style="float:left"><h2>Version information</h2></span>
            <span style="float:right">&nbsp; </span>
        </div>

        <div class="row">
            <div class="col-xs-12">
                @using (Html.BeginForm(null, null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <table class="table table-bordered table-striped">
                        <tbody>
                            @if (!Model.Status)
                            {
                                <tr class="warning">
                                    <td colspan="2" style="color:maroon;font-size-13px;">
                                        @Model.ErrorMessage
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td style="width:25%;">
                                    Version number
                                    <br />
                                    <small style="color: maroon;">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.HiddenFor(x => x.VersionId)
                                        @Html.TextBoxFor(x => x.Number, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Type
                                    <br />
                                    <small style="color: maroon;">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(x => x.TypeId, new SelectList(ViewBag.DeviceTypeList, "Id", "Name"), "Please select type", new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Message
                                    <br />
                                    <small style="color: maroon;">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.TextAreaFor(x => x.Message, new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Status
                                    <br />
                                    <small style="color: maroon;">Required</small>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.DropDownListFor(x => x.Active, new SelectList(ViewBag.StatusList, "Name", "Name"), "Please select type", new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <b>Credentials</b>
                                    <br />
                                    <br />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span>Username</span>
                                            <br />
                                            <br />
                                            @Html.HiddenFor(x => x.SyncName)
                                            <span>@Model.SyncName</span>
                                        </div>
                                        <div class="col-md-6">
                                            <span>Password</span>
                                            <br />
                                            <br />
                                            @Html.HiddenFor(x => x.SyncPassword)
                                            <span>@Model.SyncPassword</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="col-xs-6">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>